In [1]:
import pandas as pd

In [5]:
data_1 = pd.DataFrame({'A':[3,4]})
data_1

   A
0  3
1  4

In [6]:
data_2 = pd.DataFrame({'B':[7,8]})
data_2

   B
0  7
1  8

In [7]:
data_3 = data_1.merge(data_2, how='cross')
data_3

   A  B
0  3  7
1  3  8
2  4  7
3  4  8

In [12]:
df = pd.read_csv('../1_SET_THEORY/Applications_Cartesian_Product/electronic-card-transactions-july-2023.csv')
print(df.slice(50))

AttributeError: 'DataFrame' object has no attribute 'slice'